In [4]:
import pandas as pd
import datetime
import re

In [3]:
df = pd.read_csv('fake_transactional_data_24.csv')

In [3]:
len(df)

10148280

In [4]:
df.head()

,from_totally_fake_account,monopoly_money_amount,to_randomly_generated_account,not_happened_yet_date
0,10371.0,4.00,CINEMA,01/01/2025
1,88339.0,2.40,40544,01/01/2025
2,18555.0,2.40,85149,01/01/2025
3,18555.0,4.10,HIPSTER_COFFEE_SHOP,01/01/2025
4,80792.0,1.95,18555,01/01/2025

In [5]:
df.dtypes

from_totally_fake_account        float64
monopoly_money_amount            float64
to_randomly_generated_account     object
not_happened_yet_date             object
dtype: object

In [6]:
# check missing values
df.isnull().any(axis=0)

from_totally_fake_account        False
monopoly_money_amount            False
to_randomly_generated_account    False
not_happened_yet_date            False
dtype: bool

In [20]:
sorted_df = df.sort_values(by='from_totally_fake_account')
sorted_df.head()

,from_totally_fake_account,monopoly_money_amount,to_randomly_generated_account,not_happened_yet_date
7485526,1000.0,2.25,PRETENTIOUS_COFFEE_SHOP,28/09/2025
5977038,1000.0,18.00,WINE_BAR,03/08/2025
8456907,1000.0,6.50,5403,02/11/2025
5976980,1000.0,7.00,DVD_SHOP,03/08/2025
5976950,1000.0,6.00,5403,03/08/2025

In [9]:
sorted_df['not_happened_yet_date'] = pd.to_datetime(sorted_df['not_happened_yet_date'], format='%d/%m/%Y')
sorted_df['not_happened_yet_date'].head()

7485526   2025-09-28
5977038   2025-08-03
8456907   2025-11-02
5976980   2025-08-03
5976950   2025-08-03
Name: not_happened_yet_date, dtype: datetime64[ns]

In [10]:
len(sorted_df)

10148280

In [11]:
payers_list = sorted_df["from_totally_fake_account"].unique()
len(payers_list)

8142

In [41]:
new_df = pd.DataFrame() 

for payer in payers_list:
    payer_df = sorted_df[sorted_df.from_totally_fake_account == payer].sort_values(by='not_happened_yet_date')
    new_df = pd.concat([new_df, payer_df], ignore_index=True)

In [51]:
len(new_df)

10148280

In [50]:
new_df.to_csv("data_sorted_users_and_date.csv", index=False)

In [12]:
accounts = df['to_randomly_generated_account'].unique()
accounts

array(['CINEMA', '40544', '85149', ..., '24636', '1243', 'TURKEY_FARM'],
      dtype=object)

In [13]:
len(accounts)

14300

In [14]:
shops_account = [a for a in accounts if not a.isdigit()]
len(shops_account)

79

In [15]:
shops_account

['CINEMA',
 'HIPSTER_COFFEE_SHOP',
 'TOTALLY_A_REAL_COFFEE_SHOP',
 'COFFEE_SHOP',
 'CAFE',
 'A_CAFE',
 'LOCAL_RESTAURANT',
 'A_LOCAL_COFFEE_SHOP',
 'GOURMET_COFFEE_SHOP',
 'LOCAL_WATERING_HOLE',
 'SANDWICH_SHOP',
 'TOY_SHOP',
 'PRETENTIOUS_COFFEE_SHOP',
 'BAR',
 'PUB',
 'COMIC_BOOK_SHOP',
 'LUNCH_VAN',
 'DEPARTMENT_STORE',
 'KEBAB_SHOP',
 'WINE_BAR',
 'ELECTRONICS_SHOP',
 'RESTAURANT',
 'LOCAL_PUB',
 'LUNCH_PLACE',
 'FASHION_SHOP',
 'FASHIONABLE_SPORTSWARE_SHOP',
 'SCHOOL_SUPPLY_STORE',
 'LOCAL_BOOKSHOP',
 'TRAINER_SHOP',
 'BOOKSHOP',
 'KIDS_ACTIVITY_CENTRE',
 'VIDEO_GAME_STORE',
 'CLOTHES_SHOP',
 'TAKEAWAY_CURRY',
 'TECH_SHOP',
 'NERDY_BOOK_STORE',
 'WHISKEY_BAR',
 'PET_TOY_SHOP',
 'DVD_SHOP',
 'CHILDRENDS_SHOP',
 'GAME_SHOP',
 'INDIAN_RESTAURANT',
 'COCKTAIL_BAR',
 'RUNNING_SHOP',
 'DIY_STORE',
 'COOKSHOP',
 'HOME_IMPROVEMENT_STORE',
 'PET_SHOP',
 'CHINESE_TAKEAWAY',
 'BUTCHERS',
 'SECOND_HAND_BOOKSHOP',
 'G&T_BAR',
 'GREENGROCER',
 'JEWLLERY_SHOP',
 'ACCESSORY_SHOP',
 'TAKEAWAY',
 'KIDS_CLOTHING_SHOP',
 'SPORT_SHOP',
 'STEAK_HOUSE',
 'HIPSTER_ELECTRONICS_SHOP',
 'CHINESE_RESTAURANT',
 'SEAFOOD_RESAURANT',
 'STREAMING_SERVICE',
 'GYM',
 'WHISKEY_SHOP',
 'TEA_SHOP',
 'RESTAURANT_VOUCHER',
 'ROASTERIE',
 'LIQUOR_STORE',
 'TO_BEAN_OR_NOT_TO_BEAN',
 'WINE_CELLAR',
 'WE_HAVE_BEAN_WEIGHTING',
 'LARGE_SUPERMARKET',
 'EXPRESS_SUPERMARKET',
 'BUTCHER',
 'A_SUPERMARKET',
 'THE_SUPERMARKET',
 'FLORIST',
 'TURKEY_FARM']

In [44]:
new_df = pd.read_csv('data_sorted_users_and_date.csv')

In [45]:
def add_label(to_account):
    coffee_words = ['COFFEE', 'CAFE', 'BEAN', 'ROASTERIE']
    bar_words = ['WATERING', 'BAR', 'PUB','LIQUOR','WINE']
    restaurant_words = ['RESTAURANT', 'SANDWICH', 'LUNCH', 'KEBAB','COOKSHOP','STEAK', 'SEAFOOD']
    entertainment_words = ['CINEMA', 'STREAMING', 'TOY', 'DIY']
    clothes_words = ['FASHION', 'CLOTHES','TRAINER', 'CLOTHING']
    electronics_words = ['ELECTRONICS','TECH', 'DVD', 'GAME']
    sport_words = ['GYM', 'RUNNING', 'SPORT', 'SPORTSWARE']
    
    if re.search(r"TEA", to_account):
        return "tea"
    
    if re.search(r"ACCESSORY|JEWLLERY", to_account):
        return "accessory"
    
    if re.search(r"BUTCHER|TURKEY", to_account):
        return "butcher"
    
    if re.search(r"PET", to_account):
        return "pet"
    
    if re.search(r"BOOK", to_account):
        return "book"
    
    if re.search(r"DEPARTMENT|SUPERMARKET", to_account):
        return "supermarket"
    
    if re.search(r"FLORIST", to_account):
        return "flower"
    
    if re.search(r"TAKEAWAY", to_account):
        return "takeaway"
    
    if re.search(r"GREENGROCER", to_account):
        return "greengrocer"
    
    if re.search(r"HOME", to_account):
        return "home store"
    
    for word in coffee_words:
        if word in to_account:
            return "cafe"
            
    for word in bar_words:
        if word in to_account:
            return "bar"
    
    for word in restaurant_words:
        if word in to_account:
            return "restaurant"
        
    for word in sport_words:
        if word in to_account:
            return "sport"
    
    for word in entertainment_words:
        if word in to_account:
            return "entertainment"
    
    for word in electronics_words:
        if word in to_account:
            return "electronics"
    
    for word in clothes_words:
        if word in to_account:
            return "clothes"
    
    if re.search(r"CHILDREND|KID|SCHOOL", to_account):
        return "children"  
    
    if re.search(r"LIQUOR|CELLAR|WHISKEY", to_account):
        return "alcohol"
    
classification_df = new_df.copy()
classification_df = classification_df[~classification_df['to_randomly_generated_account'].str.isdigit()]
classification_df['category'] = classification_df['to_randomly_generated_account'].apply(add_label)

In [46]:
classification_df.to_csv("data_with_customer_behavior.csv", index=False)

In [47]:
classification_df = pd.read_csv('data_with_customer_behavior.csv')

In [49]:
a = classification_df.drop_duplicates(subset=['to_randomly_generated_account'])
category = classification_df['category'].unique()

def count_class(data, cat):
    num = len(data[data['category'] == cat])
    print(f"Number of accounts about {cat}: {num}")

for cat in category:
    count_class(a, cat)

Number of accounts about entertainment: 4
Number of accounts about cafe: 11
Number of accounts about bar: 10
Number of accounts about restaurant: 11
Number of accounts about electronics: 6
Number of accounts about pet: 2
Number of accounts about takeaway: 3
Number of accounts about clothes: 4
Number of accounts about supermarket: 5
Number of accounts about children: 3
Number of accounts about book: 5
Number of accounts about tea: 2
Number of accounts about alcohol: 1
Number of accounts about sport: 4
Number of accounts about butcher: 3
Number of accounts about greengrocer: 1
Number of accounts about home store: 1
Number of accounts about flower: 1
Number of accounts about accessory: 2

In [50]:
new_a = a[['to_randomly_generated_account','category']]
filtered_a = new_a[~new_a['to_randomly_generated_account'].str.isnumeric()]

income_df = pd.read_csv('monthly_incomes.csv')
income_with_label_df = pd.merge(income_df, filtered_a)
income_with_label_df

    to_randomly_generated_account  month  total_monthly_income   category
0                  ACCESSORY_SHOP      1               6238.00  accessory
1                  ACCESSORY_SHOP      2               6213.00  accessory
2                  ACCESSORY_SHOP      3               6545.00  accessory
3                  ACCESSORY_SHOP      4               5867.00  accessory
4                  ACCESSORY_SHOP      5               6447.00  accessory
..                            ...    ...                   ...        ...
921                   WINE_CELLAR      8               8590.82        bar
922                   WINE_CELLAR      9               9602.72        bar
923                   WINE_CELLAR     10               9572.62        bar
924                   WINE_CELLAR     11               9717.53        bar
925                   WINE_CELLAR     12             126309.76        bar

[926 rows x 4 columns]

In [51]:
income_with_label_df.to_csv("monthly_incomes_with_label.csv", index=False)

In [52]:
high_payment_df = pd.read_csv('high_payment_records.csv')
high_payment_with_label_df = pd.merge(high_payment_df, filtered_a, how='left')
high_payment_with_label_df.to_csv("high_payment_records_with_label.csv", index=False)

In [53]:
high_reciept_df = pd.read_csv('high_reciept_records.csv')
high_reciept_with_label_df = pd.merge(high_reciept_df, filtered_a, how='left')
high_reciept_with_label_df.to_csv("high_reciept_records_with_label.csv", index=False)